In [9]:
import scala.io.Source
import java.io.FileNotFoundException
import scala.util.Try

In [14]:
val filePath = "employee.csv"

filePath = employee.csv

employee.csv

#### Create a case class to represent the entity

In [7]:
case class Employee(id:Int, name: String, city: String, salary:Double, department: String)

defined class Employee

#### Read the CSV file and parse the data into a list of Employees

In [12]:
def readFile(filePath: String) : List[Employee] = {

    val lines = Source.fromFile(filePath).getLines.drop(1)
    lines.flatMap {records => 
        val columns = records.split(",")
        Try{
            Employee(
                id = columns(0).toInt,
                name = columns(1),
                city = columns(2),
                salary = columns(3).toDouble,
                department = columns(4)
            )
        }.toOption
    }.toList
}

readFile: (filePath: String)List[Employee]

In [17]:
val employees: List[Employee] = readFile(filePath)

employees = List(Employee(1,John Doe,New York,60000.0,Marketing), Employee(2,Jane Smith,Los Angeles,55000.0,Finance), Employee(3,Michael Johnson,Chicago,62000.0,HR), Employee(4,Sarah Lee,San Francisco,58000.0,Engineering), Employee(5,David Brown,Houston,63000.0,Operations), Employee(6,Emily Taylor,Miami,54000.0,Sales), Employee(7,James Wilson,Dallas,59000.0,Marketing), Employee(8,Emma Anderson,Seattle,61000.0,Finance), Employee(9,Matthew Martinez,Boston,57000.0,HR), Employee(10,Olivia Thomas,Atlanta,64000.0,Engineering), Employee(11,Liam Garcia,Denver,53000.0,Operations), Employee(12,Sophia Hernandez,Phoenix,60000.0,Sales), Employee(13,Alexander Lopez,Philadelphia,56000.0,Marketing), Employee(14,Mia Gonzalez,Detroit,62000.0,Finance), Employee(15,Ethan Perez,Minneapolis,5...

List(Employee(1,John Doe,New York,60000.0,Marketing), Employee(2,Jane Smith,Los Angeles,55000.0,Finance), Employee(3,Michael Johnson,Chicago,62000.0,HR), Employee(4,Sarah Lee,San Francisco,58000.0,Engineering), Employee(5,David Brown,Houston,63000.0,Operations), Employee(6,Emily Taylor,Miami,54000.0,Sales), Employee(7,James Wilson,Dallas,59000.0,Marketing), Employee(8,Emma Anderson,Seattle,61000.0,Finance), Employee(9,Matthew Martinez,Boston,57000.0,HR), Employee(10,Olivia Thomas,Atlanta,64000.0,Engineering), Employee(11,Liam Garcia,Denver,53000.0,Operations), Employee(12,Sophia Hernandez,Phoenix,60000.0,Sales), Employee(13,Alexander Lopez,Philadelphia,56000.0,Marketing), Employee(14,Mia Gonzalez,Detroit,62000.0,Finance), Employee(15,Ethan Perez,Minneapolis,5...

#### Perform filter operations

In [22]:
val highSalaryEmployees = employees.filter(_.salary > 60000)
val engineeringEmployees = employees.filter(_.department == "Engineering")

highSalaryEmployees = List(Employee(3,Michael Johnson,Chicago,62000.0,HR), Employee(5,David Brown,Houston,63000.0,Operations), Employee(8,Emma Anderson,Seattle,61000.0,Finance), Employee(10,Olivia Thomas,Atlanta,64000.0,Engineering), Employee(14,Mia Gonzalez,Detroit,62000.0,Finance), Employee(16,Isabella Carter,Portland,63000.0,Engineering), Employee(18,Ava Ramirez,San Diego,64000.0,Sales), Employee(20,Harper King,Birmingham,61000.0,Finance), Employee(24,Lincoln Taylor,Indianapolis,62000.0,Sales), Employee(26,Aiden Bennett,Jacksonville,63000.0,Finance), Employee(28,Ella Collins,San Jose,65000.0,Engineering), Employee(30,Carter Hughes,Oklahoma City,61000.0,Sales), Employee(34,Nova Ward,Kansas City,64000.0,Engineering), Employee(36,Leah Watson,Atlanta,62000.0,Sales), Emplo...

List(Employee(3,Michael Johnson,Chicago,62000.0,HR), Employee(5,David Brown,Houston,63000.0,Operations), Employee(8,Emma Anderson,Seattle,61000.0,Finance), Employee(10,Olivia Thomas,Atlanta,64000.0,Engineering), Employee(14,Mia Gonzalez,Detroit,62000.0,Finance), Employee(16,Isabella Carter,Portland,63000.0,Engineering), Employee(18,Ava Ramirez,San Diego,64000.0,Sales), Employee(20,Harper King,Birmingham,61000.0,Finance), Employee(24,Lincoln Taylor,Indianapolis,62000.0,Sales), Employee(26,Aiden Bennett,Jacksonville,63000.0,Finance), Employee(28,Ella Collins,San Jose,65000.0,Engineering), Employee(30,Carter Hughes,Oklahoma City,61000.0,Sales), Employee(34,Nova Ward,Kansas City,64000.0,Engineering), Employee(36,Leah Watson,Atlanta,62000.0,Sales), Emplo...

#### Map Operation

In [23]:
val formattedReport = employees.map(emp => 
    s"${emp.name} (${emp.city}) works in ${emp.department} earning $${emp.salary}"
  )

println("Formatted Report:")
formattedReport.foreach(println)

Formatted Report:
John Doe (New York) works in Marketing earning ${emp.salary}
Jane Smith (Los Angeles) works in Finance earning ${emp.salary}
Michael Johnson (Chicago) works in HR earning ${emp.salary}
Sarah Lee (San Francisco) works in Engineering earning ${emp.salary}
David Brown (Houston) works in Operations earning ${emp.salary}
Emily Taylor (Miami) works in Sales earning ${emp.salary}
James Wilson (Dallas) works in Marketing earning ${emp.salary}
Emma Anderson (Seattle) works in Finance earning ${emp.salary}
Matthew Martinez (Boston) works in HR earning ${emp.salary}
Olivia Thomas (Atlanta) works in Engineering earning ${emp.salary}
Liam Garcia (Denver) works in Operations earning ${emp.salary}
Sophia Hernandez (Phoenix) works in Sales earning ${emp.salary}
Alexander Lopez (Philadelphia) works in Marketing earning ${emp.salary}
Mia Gonzalez (Detroit) works in Finance earning ${emp.salary}
Ethan Perez (Minneapolis) works in HR earning ${emp.salary}
Isabella Carter (Portland) works in Engineering earning ${emp.salary}
Mason Torres (Baltimore) works in Operations earning ${emp.salary}
Ava Ramirez (San Diego) works in Sales earning ${emp.salary}
Logan Sanders (Washington) works in Marketing earning ${emp.salary}
Harper King (Birmingham) works in Finance earning ${emp.salary}
Lucas Rivera (Memphis) works in HR earning ${emp.salary}
Evelyn Scott (Nashville) works in Engineering earning ${emp.salary}
Avery Green (Milwaukee) works in Operations earning ${emp.salary}
Lincoln Taylor (Indianapolis) works in Sales earning ${emp.salary}
Sofia Cooper (Louisville) works in Marketing earning ${emp.salary}
Aiden Bennett (Jacksonville) works in Finance earning ${emp.salary}
Madison Flores (Charlotte) works in HR earning ${emp.salary}
Ella Collins (San Jose) works in Engineering earning ${emp.salary}
Chloe Howard (San Antonio) works in Operations earning ${emp.salary}
Carter Hughes (Oklahoma City) works in Sales earning ${emp.salary}
Aria Nelson (Tucson) works in Marketing earning ${emp.salary}
Grayson Baker (Cleveland) works in Finance earning ${emp.salary}
Zoey Morris (Mesa) works in HR earning ${emp.salary}
Nova Ward (Kansas City) works in Engineering earning ${emp.salary}
Hudson James (Virginia Beach) works in Operations earning ${emp.salary}
Leah Watson (Atlanta) works in Sales earning ${emp.salary}
Riley Brooks (Colorado Springs) works in Marketing earning ${emp.salary}
Emery Kelly (Raleigh) works in Finance earning ${emp.salary}
Luke Reed (Omaha) works in HR earning ${emp.salary}
Layla Cooper (Miami) works in Engineering earning ${emp.salary}
Ayden Rivera (Tulsa) works in Operations earning ${emp.salary}
Penelope Coleman (Oakland) works in Sales earning ${emp.salary}
Lincoln Powell (Minneapolis) works in Marketing earning ${emp.salary}
Aubrey Long (Arlington) works in Finance earning ${emp.salary}
Grace Hughes (Bakersfield) works in HR earning ${emp.salary}
Nolan Ward (Tampa) works in Engineering earning ${emp.salary}
Bella Barnes (Honolulu) works in Operations earning ${emp.salary}
Ellie Howard (Anaheim) works in Sales earning ${emp.salary}
Liam Wright (Pittsburgh) works in Marketing earning ${emp.salary}
Emma Evans (Cincinnati) works in Finance earning ${emp.salary}

formattedReport = List(John Doe (New York) works in Marketing earning ${emp.salary}, Jane Smith (Los Angeles) works in Finance earning ${emp.salary}, Michael Johnson (Chicago) works in HR earning ${emp.salary}, Sarah Lee (San Francisco) works in Engineering earning ${emp.salary}, David Brown (Houston) works in Operations earning ${emp.salary}, Emily Taylor (Miami) works in Sales earning ${emp.salary}, James Wilson (Dallas) works in Marketing earning ${emp.salary}, Emma Anderson (Seattle) works in Finance earning ${emp.salary}, Matthew Martinez (Boston) works in HR earning ${emp.salary}, Olivia Thomas (Atlanta) works in Engineering earning ${emp.salary}, Liam Garcia (Denver) works in Operations earning ${emp.salary}, Sophia Hernandez (Phoenix) works in Sales earning ${emp.s...

List(John Doe (New York) works in Marketing earning ${emp.salary}, Jane Smith (Los Angeles) works in Finance earning ${emp.salary}, Michael Johnson (Chicago) works in HR earning ${emp.salary}, Sarah Lee (San Francisco) works in Engineering earning ${emp.salary}, David Brown (Houston) works in Operations earning ${emp.salary}, Emily Taylor (Miami) works in Sales earning ${emp.salary}, James Wilson (Dallas) works in Marketing earning ${emp.salary}, Emma Anderson (Seattle) works in Finance earning ${emp.salary}, Matthew Martinez (Boston) works in HR earning ${emp.salary}, Olivia Thomas (Atlanta) works in Engineering earning ${emp.salary}, Liam Garcia (Denver) works in Operations earning ${emp.salary}, Sophia Hernandez (Phoenix) works in Sales earning ${emp.s...

#### Reduce Operations

In [26]:
val totalSalary = employees.map(_.salary).sum
  val averageSalary = if (employees.nonEmpty) totalSalary / employees.size else 0.0
  val departmentWiseStats = employees.groupBy(_.department).map {
    case (department, deptEmployees) =>
      val deptTotalSalary = deptEmployees.map(_.salary).sum
      val deptAverageSalary = if (deptEmployees.nonEmpty) deptTotalSalary / deptEmployees.size else 0.0
      val deptEmployeeCount = deptEmployees.size
      (department, deptTotalSalary, deptAverageSalary, deptEmployeeCount)
  }

  println(s"\nTotal Salary of all employees: $$${totalSalary}")
  println(s"Average Salary of all employees: $$${averageSalary}")

  println("\nDepartment-wise Statistics:")
  departmentWiseStats.foreach { case (dept, total, avg, count) =>
    println(s"Department: $dept, Total Salary: $$${total}, Average Salary: $$${avg}, Employees: $count")
  }

Total Salary of all employees: $2943000.0
Average Salary of all employees: $58860.0

Department-wise Statistics:
Department: Engineering, Total Salary: $494000.0, Average Salary: $61750.0, Employees: 8
Department: Operations, Total Salary: $444000.0, Average Salary: $55500.0, Employees: 8
Department: Sales, Total Salary: $483000.0, Average Salary: $60375.0, Employees: 8
Department: Marketing, Total Salary: $518000.0, Average Salary: $57555.555555555555, Employees: 9
Department: HR, Total Salary: $462000.0, Average Salary: $57750.0, Employees: 8
Department: Finance, Total Salary: $542000.0, Average Salary: $60222.22222222222, Employees: 9

totalSalary = 2943000.0
averageSalary = 58860.0
departmentWiseStats = List((Engineering,494000.0,61750.0,8), (Operations,444000.0,55500.0,8), (Sales,483000.0,60375.0,8), (Marketing,518000.0,57555.555555555555,9), (HR,462000.0,57750.0,8), (Finance,542000.0,60222.22222222222,9))

List((Engineering,494000.0,61750.0,8), (Operations,444000.0,55500.0,8), (Sales,483000.0,60375.0,8), (Marketing,518000.0,57555.555555555555,9), (HR,462000.0,57750.0,8), (Finance,542000.0,60222.22222222222,9))